<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <h1 class="center">Top trending memes today</h1>
  </header>
  <div id="container">
    <img src="https://cdn-images-1.medium.com/max/800/1*6EJH5wIYnR3sHy6yI4bm7w.gif">
  </div>

  <script src="/javascripts/app.js"></script>

</body>

</html>